@import 'tailwindcss';

@theme{
  --color-prime-500 : oklch(0.3268 0.1184 7.82);
  --color-secondary-500 : oklch(0.7665 0.1387 91.06);
  --color-text-100 : oklch(0.9808 0.0079 73.75);
}

body{
  background-color: #F3F0EB;
}